* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
  font-family: 'Reem Kufi', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

body .section-1 {
  width: 100%;
  height: 100vh;
  background: url(/Rasmlar/dentists-treat-patients-teeth1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}

body .section-1 header {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .section-1 header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

body .section-1 header nav a {
  text-decoration: none;
  color: #FFFF;
}

body .section-1 main {
  position: relative;
  width: 100%;
}

body .section-1 main .headline {
  width: 750px;
  height: 220px;
  font-size: 40px;
  line-height: 110px;
  color: #FFFF;
  font-style: normal;
  font-weight: lighter;
  margin-top: 116px;
  padding-left: 110px;
}

body .section-1 main .info {
  width: 638px;
  height: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #FFFF;
  padding-left: 110px;
  margin-bottom: 50px;
}

body .section-1 main button {
  width: 217px;
  height: 56px;
  margin-left: 110px;
  top: 596px;
  background: #1D79E4;
  border-radius: 60px;
  border: #1D79E4 solid 1px;
}

body .statistics {
  width: 100%;
  height: 400px;
  background-color: #F4F8FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .statistics h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  color: #222222;
  margin-bottom: 40px;
}

body .statistics p {
  width: 270px;
  height: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #555555;
}

body .section-2 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 130px;
}

body .section-2 .right .headline h1 {
  width: 630px;
  height: 240px;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 80px;
  color: #222222;
  margin-bottom: 20px;
}

body .section-2 .right .info p {
  width: 469.26px;
  height: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 20px;
}

body .section-2 button {
  width: 160px;
  height: 56px;
  background: #1D79E4;
  border-radius: 60px;
  color: #FFFF;
  border: #1D79E4 solid 1px;
}

body .section-3 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px;
}

body .section-3 .left .headline h1 {
  width: 790px;
  height: 160px;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 80px;
  color: #222222;
  margin-bottom: 30px;
}

body .section-3 .left .info p {
  width: 548.5px;
  height: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 30px;
}

body .section-3 .right img {
  position: relative;
  width: 471px;
  height: 531px;
  padding-right: 40px;
}

body .section-3 .icons {
  gap: 50px;
}
/*# sourceMappingURL=style.css.map */