*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    .section-1{
        width: 100%;
        height: 100vh;
        padding: 30px;
        background: url(/Rasmlar/Background-1.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-image: initial;

        header{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        nav{
            display: flex;
            gap: 40px;

            a{
                text-decoration: none;
                color: #FFFF;
            }
        }
    }
}