*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
}


body{
    width: 100%;
    height: 100vh;

    .section-1 {
        width: 100%;
        height: 100vh;
        background: url(/Rasmlar/dentists-treat-patients-teeth1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px;

        header{
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;

            nav{
                display: flex;
                gap: 40px;

                a{
                    text-decoration: none;
                    color: #FFFF;
                }
            }

        }

        main{
            position: relative;
            width: 100%;

            .headline{
                width: 750px;
                height: 220px;
                font-size: 40px;
                line-height: 110px;
                color: #FFFF;
                font-style: normal;
                font-weight:lighter;
                margin-top: 116px;
                padding-left: 110px;
            }

            .info{
                width: 638px;
                height: 90px;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                color: #FFFF;
                padding-left: 110px;
                margin-bottom: 50px;
            }

           button{
            width: 217px;
            height: 56px;
            margin-left: 110px;
            top: 596px;
            background: #1D79E4;
            border-radius: 60px;
            border: #1D79E4 solid 1px;
           }
        }
    }


    .statistics{
       width: 100%;
       height: 400px;
        background-color: #F4F8FE;
        display: flex;
        align-items: center;
        justify-content: space-around;

        h1{
            font-style: normal;
            font-weight: 500;
            font-size: 80px;
            line-height: 80px;
            text-align: center;
            color: #222222;
            margin-bottom: 40px;
        }

        p{
            width: 270px;
            height: 60px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #555555;
        }
    }

    .section-2{
        width: 100%;
        height: auto;
        display: flex;

        img{
            position: relative;
            padding-top: 200px;

        }

        .left img{
            position: absolute;
            left: 10px;
        }

        
    }
}
